[submodule ".github/actions/report"]
	path = .github/actions/report
	url = https://github.com/mr-version/report.git
[submodule ".github/actions/tag"]
	path = .github/actions/tag
	url = https://github.com/mr-version/tag.git
[submodule ".github/actions/calculate"]
	path = .github/actions/calculate
	url = https://github.com/mr-version/calculate.git
[submodule ".github/actions/setup"]
	path = .github/actions/setup
	url = https://github.com/mr-version/setup.git
[submodule ".github/actions/release"]
	path = .github/actions/release
	url = https://github.com/mr-version/release.git
[submodule ".github/actions/changelog"]
	path = .github/actions/changelog
	url = https://github.com/mr-version/changelog.git
